<a href="https://colab.research.google.com/github/Nianrilo/Taller_en_clase_Intro_a_la_probabilidad_para_ML_estudiante.ipynb/blob/main/BaseDatosOro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ORO!!! Forecasting

In [ ]:
## Importando las librerías
import pandas as pd
import numpy as np

In [ ]:
dataframeGold = pd.read_csv('gold_price_data.csv')
print(dataframeGold.columns)
dataframeGold.describe()

Index(['Date', 'Value'], dtype='object')

              Value
count  10787.000000
mean     653.596634
std      434.030848
min       35.100000
25%      349.200000
50%      409.350000
75%     1061.625000
max     1895.000000

In [ ]:
print(dataframeGold.dtypes)
dataframeGold.head(10)

Date      object
Value    float64
dtype: object

         Date  Value
0  1970-01-01   35.2
1  1970-04-01   35.1
2  1970-07-01   35.4
3  1970-10-01   36.2
4  1971-01-01   37.4
5  1971-04-01   38.9
6  1971-07-01   40.1
7  1971-10-01   42.0
8  1972-01-03   43.5
9  1972-04-03   48.3

In [ ]:
etiqueta = np.array(dataframeGold['Value'])[2:]
car_m1 = np.array(dataframeGold['Value'])[1:-1]
car_m2 = np.array(dataframeGold['Value'])[:-2]
print(len(etiqueta))
print(len(car_m1))
print(len(car_m2))

10785
10785
10785

In [ ]:
## Agrupando los datos en un único Dataframe y exportándolo a un archivo CSV
dataset = pd.DataFrame({'Carac menos 2':car_m2, 'Carac menos 1':car_m1, 'Etiqueta':etiqueta})
dataset.to_csv('goldPriceArranged.csv')

In [ ]:
## Pasando los datos a una matriz de tipo numpy
matrizDatos = dataset.to_numpy()
print(matrizDatos.shape)

(10785, 3)

In [ ]:
"""
La presente función recibe dos arreglos tipo Numpy del mismo tamaño y
retorna la mitad del Error Cuadrático Medio de los dos array
"""
def funcCosto(arr_1, arr_2):
  J = np.power(arr_1-arr_2,2)
  return np.sum(J)/(2*len(J))

In [ ]:
## Pasos GridSearch
#  h(x) = T0*x0 + T1*x1 

# 1. Valores a T0 a T1
dict_resultados = dict()
for T0 in np.arange(0.950,1,1/15000):
  for T1 in np.arange(0.010,0.060,1/15000):

#   2. Encuentras h(x)
    h_x = T0*car_m1 + T1*car_m2

#   3. Evalúar la función de costo
    dict_resultados[(T0,T1)]=funcCosto(h_x,etiqueta)
    
# 4. Encontrar el menor
parameters = list(dict_resultados.keys())
#print(parameters)
costValues = np.array(list(dict_resultados.values()))
#print(costValues)
indexMinCost = costValues.argmin()
print(indexMinCost)
bestParameters = parameters[indexMinCost]
print("Los mejores parámetros son:",bestParameters,"donde la función de costo retornó: ",costValues[indexMinCost])

428281
Los mejores parámetros son: (0.9880666666666624, 0.012066666666666654) donde la función de costo retornó:  40.79883837665676